name: Code Format Check

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - 'docs/**'
  workflow_dispatch:

jobs:
  clang-format:
    name: 'Check clang-format'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Source code'
        if: github.event_name == 'push'
        uses: actions/checkout@v4

      - name: 'Checkout Source code'
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: 'Checkout Source code'
        if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}

      - name: 'Run clang-format check'
        uses: DoozyX/clang-format-lint-action@v0.13
        with:
          source: './src'
          extensions: 'h,cpp'
          clangFormatVersion: 11
          style: file