name: Code Format Check

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - 'docs/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  clang-format:
    name: 'Check clang-format'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Source code'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 'Run clang-format check'
        uses: DoozyX/clang-format-lint-action@v0.13
        with:
          source: './src'
          extensions: 'h,cpp'
          clangFormatVersion: 13
          style: file